################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UniversityAdmissionPortal/.vs/UniversityAdmissionPortal/v16
/UniversityAdmissionPortal/UniversityAdmissionPortal/obj
