<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="connection_string"
			 providerName="Syatem.Data.SqlClient"
			 connectionString="Data Source=DESKTOP-FPPMU8G\SQLEXPRESS;Initial Catalog=AdmissionPortal;Integrated Security=True"/>
	</connectionStrings>
</configuration>